@import url('../componentes/cores-e-fontes.css');

.barra-social-cabecalho {
    background-color: var(--verde-principal-4);
    color: white;
    /*transition: 1s linear;*/
}

.barra-social-cabecalho a {
    color: white;
    text-decoration: none;
}

.barra-social-cabecalho a:hover i {
    transform: scale(1.1);
}

.barra-social-cabecalho .contato-texto a span{
    font-size: 13px;
    font-weight: 400;
}

.barra-social-cabecalho #icone-telefone-barra-social {
    font-size: 14px;
}

nav ul.navbar-nav li:nth-child(-n+3) a {
    transition: .2s ease;
}

nav ul.navbar-nav li:nth-child(-n+3) a:hover {
    font-weight: bold;
}

nav ul.navbar-nav #botao-menu-contato a {
    border-radius: 6px;
    transition: .2s linear;
    padding: 0 24px;
    color: var(--verde-principal-4);
    border: 2px solid var(--verde-principal-4);
}

nav img #logo-botao-menu {
    width: 6px;
}

nav ul.navbar-nav #botao-menu-contato a:hover {
    transform: scale(1.05);
    color: white;
    background-color: var(--verde-principal-4);
}

@media(min-width: 992px) {

    nav ul.navbar-nav li:nth-last-child(-n+3) {
        padding-left: 16px;
    }

}