.barra-social-cabecalho {
    background-color: var(--verde-principal-4);
    color: white;
}

.barra-social-cabecalho a {
    color: white;
    text-decoration: none;
}

.barra-social-cabecalho a:hover i {
    transform: scale(1.1);
}

.barra-social-cabecalho .contato-texto a span{
    font-size: 13px;
    font-weight: 400;
}

.barra-social-cabecalho #icone-telefone-barra-social {
    font-size: 14px;
}

nav ul.navbar-nav a {
    transition: none;
}

nav ul.navbar-nav li a:hover {
    font-weight: bold;
}

.navbar-collapse.collapsing {
    -webkit-transition: height 0.05s;
    -moz-transition: height 0.05s;
    -ms-transition: height 0.05s;
    -o-transition: height 0.05s;
    transition: height 0.05s;
}

@media(max-width: 991px) {

    nav ul li.nav-item {
        border-bottom: 1px solid var(--bs-nav-link-color);
    }

}

@media(min-width: 992px) {

    nav ul.navbar-nav li {
        padding-left: 16px;
    }

}