:root {
    --verde-principal-1: #259c6b;
    --verde-principal-2: #1c7b55;
    --verde-principal-3: #166145;
    --verde-principal-4: #284c39;
    --verde-secundario-1: #0ac28d;
    --verde-secundario-2: #02b288;
    --marrom-principal-1: #fdac85;
    --marrom-principal-2: #e49973;
    --marrom-principal-3: #cf8a63;
    --marrom-principal-4: #a67e5c;
    --marrom-secundario-1: #ff7458;
    --marrom-secundario-2: #ff6844;
    --marrom-secundario-3: #ec613a;
    --marrom-secundario-4: #ad5d3a;
    --cinza-principal-1: #adadad;
    --cinza-principal-2: #afafaf;
    --cinza-principal-3: #6e6e6e;
    --cinza-300: #E0E0E0;
    --cinza-700: #616161;
    --cinza-800: #424242;
    --cinza-textos: #7a7a7a;
    --cinza-azul-50: #ECEFF1;
}

@font-face {
    font-family: 'Ethereal Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Ethereal Thin'), url('../../assets/fonts/Ethereal-Thin.otf') format('otf');
}

@font-face {
    font-family: 'Red Hat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Red Hat Regular'), url('../../assets/fonts/RedHatDisplay-Regular.otf') format('otf');
}

.fonte-primaria {
    font-family: 'Ethereal Thin';
    letter-spacing: 1px;
}

.fonte-secundaria {
    font-family: 'Red Hat Regular';
    letter-spacing: 1px;
}

.tamanho-medio {
    font-size: 20px;
}

.texto-cinza {
    color: var(--cinza-textos);
}

.texto-cinza-principal-2 {
    color: var(--cinza-principal-2);
}

.texto-cinza-principal-3 {
    color: var(--cinza-principal-3);
}

.texto-cinza-800 {
    color: var(--cinza-800);
}

.texto-verde-principal-1 {
    color: var(--verde-principal-1);
}

.texto-verde-principal-2 {
    color: var(--verde-principal-2);
}

.texto-verde-principal-3 {
    color: var(--verde-principal-3);
}

.texto-verde-principal-4 {
    color: var(--verde-principal-4);
}

.fs-18 {
    font-size: 18px;
}
.fs-28 {
    font-size: 28px;
}

.fs-36 {
    font-size: 36px;
}

.texto-justificado {
    text-align: justify;
    text-justify: inter-word;
}

.bg-verde-principal-2 {
    background-color: var(--verde-principal-2);
}

.bg-verde-principal-3 {
    background-color: var(--verde-principal-3);
}

.bg-cinza-azul-50 {
    background-color: var(--cinza-azul-50);
}

.bg-cinza-800 {
    background-color: var(--cinza-800);
}

.bg-cinza-principal-1 {
    background-color: var(--cinza-principal-1);
}

.bg-cinza-300 {
    background-color: var(--cinza-300);
}

.border-verde-principal-1 {
    border: 1px solid var(--verde-principal-1);
}

.border-verde-principal-2 {
    border: 1px solid var(--verde-principal-2);
}

.border-verde-principal-3 {
    border: 1px solid var(--verde-principal-3);
}