@import url('../componentes/cores-e-fontes.css');
@import url('../componentes/cabecalho.css');
@import url('../componentes/rodape.css');

.hero-pagina-inicial, .mask {
    min-height: 70vh;
}

.hero-pagina-inicial {
    background-image: url(../../assets/img/folhas-capa-caule-consultoria-ambiental.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.hero-pagina-inicial .mask {
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-pagina-inicial .container .conteudo-hero h1 {
    font-size: 64px;
    font-weight: 900;
}

.sobre-nos img {
    width: 100%;
    object-fit: cover !important;
}

.servicos .btn-ver-todos {
    width: 350px;
}

.servicos .btn-ver-todos:hover {
    background-color: var(--verde-principal-3);
}

.contato * {
    transition: 0.4s;
}

.contato a:hover i {
    background-color: var(--verde-principal-3);
}

@media(min-width: 992px) {
    .hero-pagina-inicial .container .conteudo-hero {
        max-width: 50%;
    }
}